<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">Post a message</a>
    <ul class="msg-board">
      <% messages.forEach((message, index) => { %>
      <li class="msg">
        <p class="text"><%= message.text %></p>
        <p class="user"><%= message.user %></p>
        <p class="added"><%= message.added.toLocaleString() %></p>
        <a href="/message/<%=index%>">Open</a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
